{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block extend_head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="amida.css") }}">
    {% if amida_map %}
        <script>
                const amidaMap = {{ amida_map | tojson }};
        </script>
        <script src="{{ url_for("static", filename="amidaCanvas.js") }}" defer></script>
    {% endif %}
{% endblock %}

{% block header %}
	<h1>{% block subtitle %}{{ results.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<h1>🏗️🏗️🏗️🏗️🏗️工事中🏗️🏗️🏗️🏗️🏗️</h1>
{% endblock %}
