{% extends 'base.html' %}

{% block title %}②あみだくじ設定画面{% endblock %}

{% block content %}
	<h1>🏗️🏗️🏗️🏗️🏗️工事中🏗️🏗️🏗️🏗️🏗️</h1>

	<form method="post" sytle="width: 650px; margin:0 auto;">
		<!-- フォームはここ -->
		<div>
			<label for="title">あみだくじのタイトル</label>
			<input type="text" id="title" name="title" maxlength="100" required>
		</div>

		<div>
			<label class="line_count">線の数</label>
			<select id="line_count" name="line_count" required>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
			</select>
		</div>

		<div>
			<label class="form-label">アイテム（改行区切り）</label>
			<textarea id="items" name="items" required></textarea>
		</div>

		
		<div class="mb-3">
			<label class="form-label">オプション1</label>
			<input type="checkbox" id="option_auto_open" name="option_auto_open">
			<span>くじが全て選択されたら自動であみだくじを開封する</span>
		</div>

		<div class="mb-3">
			<label class="form-label">オプション2</label>
			<input type="checkbox" id="option_hide_items" name="option_hide_items" checked>
			<span>下のテキストを隠す(推奨)</span>
		</div>
	
		<div class="mb-3">
			<label class='form-label'>管理パスワード</label>
			<input type="password" id="admin_password" name="admin_password" class="form-control" placeholder="********" required>
		</div>

		<div class="mb-3">
			<label class='form-label'>管理パスワード確認</label>
			<input type="password" id="admin_password_confirm" name="admin_password_confirm" class="form-control" placeholder="********" required>
		</div>

		<div class="mb-3">
			<label class='form-label' for="user_password">利用パスワード（任意）</label>
			<input type="password" id="user_password" name="user_password" class="form-control" placeholder="********">
		</div>		
		
		<div class="mb-3">
			<label class='form-label' for="user_password_confirm">利用パスワード確認</label>
			<input type="password" id="user_password_confirm" name="user_password_confirm" class="form-control" placeholder="********">
		</div>

		<!-- これはエラーメッセージの表示（あれば） -->
		{% for message in get_flashed_messages() %}
			<div class="alert alert-info alert-dismissible fade show" role="error">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}


		<button type="submit">作成する</button>

		
	</form>


{% endblock %}
