{% extends "base.html" %}

{% block title %}
    {% if error.code == 404 %}
        ページが見つかりません
    {% else %}
        システムエラー
    {% endif %}
{% endblock %}

{% block header %}
    <h1>
        {% if error.code == 404 %}
            404 Not Found
        {% else %}
            システムエラー ({{ error.code  }})
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        {% if error.code == 404 %}
            <h4 class="alert-heading">このページが見つかりません。</h4>
            <p>URLが間違っているか、ページが移動・削除された可能性があります。</p>
        {% else %}
            <h4 class="alert-heading">申し訳ありません。</h4>
            <p>システム内部でエラーが発生しました。</p>
        {% endif %}

        {% if error.code == 400 %}
            <p class="mb-0">不正なアクセスです。</p>
        {% elif error.code == 500 %}
            <p class="mb-0">一時的な障害の可能性があります。しばらく待ってから再読み込みしてください。</p>
        {% endif %}

        <hr>

        {% if error and error.description %}
            <p class="mt-3 text-muted small">詳細: {{ error.description }}</p>
        {% endif %}
    </div>

    {% if amida_id_b62 %}
        <a href="{{ url_for('amida.main', amida_id_b62=amida_id_b62) }}" class="btn btn-secondary">あみだくじのページへ戻る</a>
    {% else %}
        <a href="{{ url_for('index.index') }}" class="btn btn-secondary">トップページへ戻る</a>
    {% endif %}

{% endblock %}
