{% extends 'base.html' %}

{% block title %}抽籤取消画面{% endblock %}

{% block content %}
    <h1>抽籤取消画面</h1>

    <form method="post" action="{{ url_for('amida.cancel.do_cancel', amida_id_b62=amida_id_b62) }}">
        <input type="hidden" name="line_no" value="{{ request.args.get('line_no') }}">

        <div class="mb-3">
            <label class="form-label" for="password">パスワードを入力してください</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="********">
        </div>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">
                抽籤取消
            </button>

            <a href="{{ url_for('amida.main', amida_id_b62=amida_id_b62) }}" class="btn btn-secondary">
                戻る
            </a>
        </div>

    </form>
{% endblock %}
