{% extends 'base.html' %}

{% block title %}あみだくじ設定変更画面{% endblock %}

{% block extend_head %}
    <script src="{{ url_for("static", filename="amidaForm.js") }}" defer></script>
{% endblock %}

{% block content %}
    <form method="post" class="amidaForm" data-mode="update"
                        action="{{ url_for("amida.update.do_update", amida_id_b62=amida_id_b62) }}">
		<div class="mb-2">
			<label for="title" class="form-label">あみだくじのタイトル</label>
            <input type="text" id="title" name="title" class="form-control"
                   value="{%if amida %}{{ amida.title }}{% endif %}" maxlength="100" required>
		</div>

        <div class="mb-2">
			<label for="line_count" class="form-label">線の数（変更不可）</label>
			<select id="line_count" name="line_count" class="form-select" disabled>
                {% if amida %}
                <option value="{{ amida.line_count }}" selected>{{ amida.line_count }}</option>
                {% endif %}
            </select>
		
        </div>

        <div class="mb-2">
			<label for="items" class="form-label">アイテム（改行区切り）</label>
            <textarea id="items" name="items" class="form-control" required>{%- if amida_items -%}
                {{ amida_items | map(attribute="title") | join('\n') }}{%- endif -%}</textarea>
		</div>

		<div class="mb-2">
			<input type="checkbox" id="option_auto_open" name="option_auto_open"
                   class="form-check-input" {%if amida and amida.option_auto_open %}checked{% endif %}>
			<label for="option_auto_open" class="form-check-label">すべて抽籤されたら自動で開封される</label>
		</div>

		<div class="mb-2">
			<input type="checkbox" id="option_hide_items" name="option_hide_items"
                   class="form-check-input" {%if amida and amida.option_hide_items %}checked {% endif %}disabled>
			<label for="option_hide_items" class="form-check-label">未開封時にアイテムの配置を隠す（変更不可）</label>
		</div>
        
        <div class="mb-2">
			<label class='form-label'>管理パスワード（変更する場合のみ入力してください）</label>
			<input type="password" id="admin_password" name="admin_password" class="form-control" placeholder="********">
		</div>


        <div class="mb-2">
			<label class='form-label'>管理パスワード確認（変更する場合のみ入力してください）</label>
			<input type="password" id="admin_password_confirm" name="admin_password_confirm" class="form-control" placeholder="********" >
		</div>

        <div class="mb-2">
			<label class='form-label' for="user_password">利用パスワード（変更する場合のみ入力してください）</label>
			<input type="password" id="user_password" name="user_password" class="form-control" placeholder="********">
		</div>		
		
		<div class="mb-2">
			<label class='form-label' for="user_password_confirm">利用パスワード確認（変更する場合のみ入力してください）</label>
			<input type="password" id="user_password_confirm" name="user_password_confirm" class="form-control" placeholder="********">
		</div>

        <div class="mb-2 text-center" id="errorDiv">{% if error %}{{ error }}{% endif%}</div>

        <div class="mb-2 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">変更する</button>
        </div>

        <hr>
	</form>

	<form method="post" action="{{ url_for('amida.delete_amida', amida_id_b62=amida_id_b62) }}">
        <div class="d-flex flex-column">
            <p class='fw-bold mb-1'>【あみだくじの削除】</p>
            <label class="form-label" for="delete_admin_password">
                確認のため、下記に管理パスワードを入れて下さい
            </label>
            <div class="mb-2 d-flex gap-2">
                    <input type="password" id="admin_password" name="admin_password" class="form-control" placeholder="********">
                    <button type="submit" class="btn btn-danger text-nowrap" formaction="{{ url_for('amida.delete_amida', amida_id_b62=amida_id_b62) }}">
                        削除
                    </button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-warning" formaction="{{ url_for('amida.do_open', amida_id_b62=amida_id_b62) }}">
                    くじ本体を開封する
                </button>
            </div>
        </div>
    </form>

    
{% endblock %}
